<div class="container">
  <div class="row">
    <nav>
      <ul>
        <li><a href="/" title="link to home page">Homepage</a></li>
        <li><a href="/history" title="link to history page">History</a></li>
        <li><a href="/order" title="link to order page">Order</a></li>
        <li><a href="/contact" title="link to contact page">Contact</a></li>
        <div id="logoutButton" ng-controller="logoutController">
          <li><a ng-click='logout()' class="btn btn-default">Logout</a></li>
        </div>
      </ul>
    </nav>
    <h1>Yo!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" id="home_section1">
      <h2>Northern Coal & Oil</h2>
      <h3>We keep you warm for less!</h3>
      <p>No Co & O, By far the best oil company in Vermont. The voice on the phone is always ready to help no matter your situation. They get your oil to you quickly and with no hassle. Prices are always at there lowest, updated daily to match the current price on the market. You won't be disappointed with these guys. a year ago I love the voice on the phone as well as the best service and of course the BEST prices. In today's world saving cents adds up!! I can always count on Northern Coal and Oil to be at my rescue no matter what<p>
    </div>
    <div class="col-md-5" id="loginRegister">
      <h4>Never bought oil from us? Sign up now. <br/> Or login if you've been here already.</h4>
      <a href="/login" title="link to login page" class="btn btn-default">Login</a>
      <a href="/register" title="link to register page" class="btn btn-default">Register</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" id="lower3">
      <img src="../images/n_circle.png" alt="image of a n in a circle"/>
      <p>Vestibulum venenatis blandit magna, sed efficitur magna scelerisque eu. Integer eleifend maximus velit egestas mattis. Nam sapien sem, lobortis eu ex in, facilisis malesuada diam. Tellus finibus porttitor. Fusce et tortor in lorem euismod bibendum vel at dui. Donec vehicula eu libero a faucibus.</p>
    </div>
    <div class="col-md-4" id="lower3">
      <img src="../images/coal_circle.png" alt="image of a coal nugget in a circle"/>
      <p>Nulla sit amet lacinia odio. Sed sed magna tellus. Aliquam sodales ipsum vel est suscipit, a placerat ipsum ornare. Morbi eget hendrerit lectus, eget elementum libero. Etiam ac porta est. Ut velit augue, varius vel elit at, molestie venenatis elit. Sed non pellentesque elit.</p>
    </div>
    <div class="col-md-4" id="lower3">
      <img src="../images/oil_circle.png" alt="image of a oil drop in a circle"/>
      <p>Maecenas rhoncus luctus odio, et auctor nisl ultricies semper. Aenean in mauris mattis, auctor dui nec, dapibus leo. Vestibulum eleifend, lacus ac placerat faucibus, purus purus volutpat magna, nec posuere ex diam non lectus. Nullam vitae bibendum diam. Mauris placerat orci ut sapien suscipit rutrum. Proin et fringilla turpis, vel interdum metus.</p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-6" id="footer_section1">
        <h4>Deals</h4>
        <p>Christmas Special - 15 bags of coal $55</p>

        <p>Rainy Day Special - Fill up your tank now, pay later</p>

        <p>Boiler Installation Special - $200 + man hours</p>

        <p>Repair Special - 3 repairs from us free removal</p>

        <p>Oil Price per gallon - $1.79  Coal per 20 pounds - $17.99</p>
    </div>
    <div class="col-md-6" id="footer_section2">
        <h4>Get in Touch</h4>
        <p>Phone - (802) 539-2183</p>

        <p>Location - 153 Goodsaw Ln, Essex VT 03852</p>

        <p>Store Hours - Monday - Friday 6AM - 8PM </p>

        <p>Find us on - Facebook, Yelp, Twitter</p>
    </div>
  </div>
