<nav>
  <ul>
    <li><a href="/" title="link to home page">Homepage</a></li>
    <li><a href="/history" title="link to history page">History</a></li>
    <li><a href="/order" title="link to order page">Order</a></li>
    <li><a href="/contact" title="link to contact page">Contact</a></li>
    <div id="logoutButton" ng-controller="logoutController">
      <li><a ng-click='logout()' class="btn btn-default">Logout</a></li>
    </div>
  </ul>
</nav>
<h1>Yo!</h1>
<h2>Your receipt</h2>
<h2>Your Order has been recieved.</h2>
<h3>Plan to recieve the driver on the need by date.</h3>
<br/>
<h4>Fullname</h4>
<p class="fullname">{{ orderData.fullname }}</p>
<h4>Username</h4>
<p class="username">{{ orderData.username }}</p>
<h4>Phone</h4>
<p class="phone">{{ orderData.phone }}</p>
<h4>Address</h4>
<p class="address">{{ orderData.address }}</p>
<h4>Zip</h4>
<p class="zip">{{ orderData.zip }}</p>
<h4>Time Create</h4>
<p class="timestampCreated">{{ orderData.timestampCreated }}</p>
<h4>Needed by</h4>
<p class="needby">{{ orderData.needby }}</p>
<h4>Order Type</h4>
<p class="orderType">{{ orderData.orderType }}</p>
<h4>Amount</h4>
<p class="amount">{{ orderData.amount }}</p>
<h4>Payment Type</h4>
<p class="payment">{{ orderData.payment}}</p>
<h4>Maintenance</h4>
<p class="maintenance">{{ orderData.maintenance }}</p>
<h4>Meassage</h4>
<p class="message">{{ orderData.message }}</p>
<!-- <h4>UUID</h4>
<p class="uuid">{{ orderData.uuid }}</p>
<h4>ID</h4>
<p class="_id">{{ orderData._id }}</p> -->

<h3>Thank you for your order.</h3>
<p>If you plan to pay now you will need to have your credit card ready for the driver upon delivery.</p>
<p>If you need to pay later please use this phone number to call our offices (802-325-2958)</p>
