body{
  background: #ffffff;
  margin: 0;
}
htnl{
  margin: 0;
}
h1{
  background-image: url('../images/logo_1.png');
  width: 200px;
  height: 131px;
  text-indent: -9999px;
}
p{
  color: #888888;
}
nav ul{
  list-style-type: none;
  text-decoration: none;
  padding: 0 15px 0 0;
  float: right;
}
nav ul li{
  font-size: 16px;
  float: left;
  margin: 3px;
  padding: 0 15px 0 0;
}
#logoutButton{
  display: inline-block;
  position: inherit;
  float: right;
}
#loginRegister{
  padding:70px 0 0 0;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
}
#lower3{
  text-align: center;
  padding: 25px 0 15px 0;
  margin: 0 auto;
}
#lower3 p{
  padding: 25px;
}
footer{
  background: url(../images/footer.png) repeat-x bottom;
  height: 20px;
  margin: 0;
  text-indent: -9999px;
  position:static;
  clear: both;
  width:100%;
}
footer h6{
  margin: 0;
  padding: 0;
}
