body{
  background: #ffffff;
}
h1{
  background-image: url('../images/logo_1.png');
  width: 400px;
  height: 262px;
  text-indent: -9999px;
  margin: 0 auto;
}
nav ul{
  list-style-type: none;
  text-decoration: none;
  padding: 0 15px 0 0;
  float: right;
}
nav ul li{
  font-size: 16px;
  float: left;
  margin: 3px;
  padding: 0 15px 0 0;
}
#logoutButton{
  display: inline-block;
  position: inherit;
  float: right;
}
#loginRegister{
  float: right;
  padding: 10px 75px 0 10px;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
}
